.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0.3rem;
  gap: 1rem;
}

.container-video-player {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.container-info {
  margin: 1rem;
}

.paragraph-video-info {
  color: hsla(0, 0%, 0%, 0.87);
  margin-top: 0.5rem;
}

.video-actions {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.button-like,
.button-dislike {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 0.25rem;
}

.button-like:hover,
.button-dislike:hover {
  opacity: 0.7;
}

.thumbup-icon,
.thumbdown-icon {
  margin-right: 0.5rem;
}

.video-comments {
  margin: 1rem;
  color: #000;
}

iframe {
  max-width: 100%;
}

.comment-input {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.3rem;
  border: 1px solid #434343;
  margin-right: 1rem;
  border-radius: 2px;
  width: 50%;
  outline: none;
}

.comment-button {
  padding: 0.3rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding-left: 1.25rem;
}

ul li {
  display: block;
}

ul section {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

img {
  margin-right: 1rem;
  width: 2.68rem;
}

.user-paragraph-comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3.75rem;
  margin-top: -2.5rem;
}

.content-paragraph-comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3.75rem;
  margin-top: 0.875rem;
}

@media (max-width: 768px) {
  .video-player iframe {
    width: 100%;
    height: auto;
  }

  .video-actions {
    width: auto;
  }

  .comment-input {
    width: 80%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .video-info,
  .video-comments {
    margin: 0.5rem;
  }

  .video-actions {
    gap: 10px;
  }
}
