.video-list {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  align-items: start;
  padding: 0 1rem;
}

.card {
  display: flex;
  margin: 1rem 1rem;
  min-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
