:root {
  --grid-item-min-width: 100%;
  --grid-gap: 2rem;
  --padding: 2rem;
  --input-padding: 0.3rem;
  --base-font-size: 1rem;
}

@media (min-width: 768px) {
  .video-input-search {
    width: 28%;
  }
}

@media (min-width: 1024px) {
  .carousel-container .carousel .item {
    width: 23.33%;
    height: 0.512%;
  }
}
